
  <footer class="footBottom" >
    <div class="footBoxI">
      <div class="lfetFootSmallBox">
        <span><a href="../pages/index.html">URBNSTEP</a></span>
      </div>
      <div class="rightFootSmallBox">
        <p><span><a href="../pages/productList.html">商品列表</a></span></p>
        <p><span><a href="../pages/brandStory.html">品牌故事</a></span></p>
      </div>
    </div>
    <div class="footBoxIi">
      <span class="lastTwo">Copyright ©2025 URBNSTYLE</span>
      <span class="last">All Rights Reserved.</span>
    </div>
  </footer>
