
  <!-- 首頁 -->
  <main class="section" id="app">
    <div class="indexcontainer">
      <div class="heroSection">
        <img src="../assets/images/HeroSection.png" alt="灰白色鞋背景">
        <div class="heroSectionContent">
          <div class="heroSectionTitle">
            <p class="title">URBNSTEP</p>
            <span>Your Step, Your Statement</span>
          </div>
          <span class="heroSectionBtn" >
            <a href="/Shoes-Ecommerce_week4_Phone/productList.html">立即選購</a>
          </span>
        </div>
      </div>
      <div class="newArrivla">
        <div class="newArrivlaContent">
          <div class="newArrivlaTitle">
            <p class="titleText">New Arrival</p>
            <p>新品上市</p>
          </div>
          <div class="newArrivlaProduct">
            <div class="cardWrapper">
              <div class="card-Product">
                <div class="img01">
                  <img src="../assets/images/img01.png" alt="白色鞋限量款">
                </div>
                <div class="label">
                  <p>Monoverse</p>
                  <p class="labelContent">NT$3,600</p>
                </div>
              </div>
              <div class="card-Product">
                <div class="img01">
                  <img src="../assets/images/img02.png" alt="黑白滑板鞋">
                </div>
                <div class="label">
                  <p>PLATFORM 404</p>
                  <p class="labelContent">NT$2,600</p>
                </div>
              </div>
            </div>
            <div class="cardWrapper">
              <div class="card-Product">
                <div class="img01">
                  <img src="../assets/images/img03.png" alt="淡粉色厚底鞋">
                </div>
                <div class="label">
                  <p>URBN Force</p>
                  <p class="labelContent">NT$3,200</p>
                </div>
              </div>
              <div class="card-Product">
                <div class="img01">
                  <img src="../assets/images/img04.png" alt="黑白色限量款">
                </div>
                <div class="label">
                  <p>Mode90</p>
                  <p class="labelContent">NT$4,000</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bestSeller">
        <div class="bestSellerContent">
          <div class="SellerContentTitle">
            <span>熱銷補貨</span>
          </div>
          <div class="SellerCardWrapper">
            <div class="cardImage">
              <img src="../assets/images/3.png" alt="粉色鞋">
              <span><a href="javascript:;">人氣 No.1</a></span>
            </div>
            <div class="cardImage">
              <img src="../assets/images/1.png" alt="黑色鞋">
              <span><a href="javascript:;">人氣 No.1</a></span>
            </div>
            <div class="cardImage">
              <img src="../assets/images/7.png" alt="米白色鞋">
              <span><a href="javascript:;">人氣 No.1</a></span>
            </div>
            <div class="cardImage">
              <img src="../assets/images/4.png" alt="白色鞋">
              <span><a href="javascript:;">人氣 No.1</a></span>
            </div>
          </div>
        </div>
      </div>
      <div class="sale">
        <img src="../assets/images/saleBg.png" alt="blackBg">
        <div class="saleContent">
          <div class="saleContentText">
            <div class="ContentTextTitle">
              <p class="textTitle">
                <span>URBNSTEP</span><span class="x">X</span><span>Kevin&nbsp;Chen</span>
              </p>
              <p>跨界聯名，限量發售</p>
            </div>
            <p class="addTag">
              <span>新銳漫畫家 Kevin Chen 親自操刀設計</span>
                <span>街頭能量全面引爆！</span>
            </p>
          </div>
          <span class="saleContentBtn"><a href="/Shoes-Ecommerce_week4_Phone/productList.html">立即搶購</a></span>
        </div>
        <div class="lightning">
          <img src="../img/lightning.png" alt="">
        </div>
        <div class="frameBoy">
          <img src="../img/img27.png" alt="">
          <div class="circleLight">
            <img src="../img/greenLight.png" alt="">
          </div>
        </div>
        <div class="starBox">
          <img src="../assets/images/star.png" alt="星星">
        </div>
        <div class="indicatorsBox">
          <div class="indicatorsActive">
            <img src="../img/squareDot.png" alt="">
          </div>
          <div class="indicatorsInActive">
            <img src="../img/circleDot.png" alt="">
          </div>
          <div class="indicatorsInActive">
            <img src="../img/circleDot.png" alt="">
          </div>
          <div class="indicatorsInActive">
            <img src="../img/circleDot.png" alt="">
          </div>
          <div class="indicatorsInActive">
            <img src="../img/circleDot.png" alt="">
          </div>
        </div>
        <div class="sparkle">
          <img src="../assets/images/Sparkle.png" alt="線條">
        </div>
        <div class="cloudsBox">
          <img src="../img/clouds.png" alt="" class="frontClouds">
          <img src="../img/clouds.png" alt="" class="middleClouds">
          <img src="../img/clouds.png" alt="" class="lastClouds">
        </div>
        <div class="signatureText">
          <img src="../img/image24.png" alt="">
        </div>
        <div class="allGreenLight">
          <img src="../img/allGreenLight.png" alt="">
        </div>
      </div>
      <div class="series">
        <div class="seriesContent">
          <span>依系列選購</span>
          <div class="seriesCardWrapper">
            <div class="cardBox">
              <img src="../assets/images/7.png" alt="慢跑鞋">
              <div class="overlay"></div>
              <div class="cardCategory">
                <p>URBN&nbsp;RUNNER</p>
                <p class="h4">慢跑系列</p>
              </div>
            </div>
            <div class="cardBox">
              <img src="../assets/images/img20.png" alt="滑板鞋">
              <div class="overlay"></div>
              <div class="cardCategory">
                <p>STREETMODE</p>
                <p class="h4">滑板系列</p>
              </div>
            </div>
            <div class="cardBox">
              <img src="../assets/images/img21.png" alt="厚底鞋">
              <div class="overlay"></div>
              <div class="cardCategory">
                <p>CHUNK&nbsp;DISTRICT</p>
                <p class="h4">厚底系列</p>
              </div>
            </div>
            <div class="cardBox">
              <img src="../assets/images/img22.png" alt="限量鞋">
              <div class="overlay"></div>
              <div class="cardCategory">
                <p>COLLAB&nbsp;ZONE</p>
                <p class="h4">聯名企劃</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="style">
        <div class="styleContent">
          <p>穿搭靈感</p>
          <div class="styleCardWrapper">
            <div class="cardOne">
              <img src="../assets/images/cardOne.png" alt="forstPicture">
            </div>
            <div class="cardTwo">
              <img src="../assets/images/cardTwo.png" alt="secondPicture">
            </div>
            <div class="cardThree">
              <img src="../assets/images/cardThree.png" alt="three...">
            </div>
            <div class="cardFour">
              <img src="../assets/images/cardFour.png" alt="four...">
            </div>
            <div class="cardFive">
              <img src="../assets/images/cardFive.png" alt="five...">
            </div>
            <div class="cardSix">
              <img src="../assets/images/cardSix.png" alt="six...">
            </div>
            <div class="cardSeven">
              <img src="../assets/images/cardSeven.png" alt="seven...">
            </div>
            <div class="cardEight">
              <img src="../assets/images/cardEight.png" alt="eight...">
            </div>
            <div class="cardNice">
              <img src="../assets/images/cardNine.png" alt="nice...">
            </div>
            <div class="cardTen">
              <img src="../assets/images/cardTen.png" alt="ten...">
            </div>
            <div class="cardEleven">
              <img src="../assets/images/cardEleven.png" alt="eleven...">
            </div>
            <div class="cardTwelve">
              <img src="../assets/images/cardTwelve.png" alt="lastPicture">
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>