
  <header class="header">
    <div class="navItem">
      <div class="navBox">
        <div class="logo">
           <span><a href="/Shoes-Ecommerce_week4_Phone/index.html">URBNSTEP</a></span>
        </div>
        <div class="navIcon">
          <div class="iconBox">
            <a href="../pages/LoginAndSignUp.html">
              <img src="../assets/images/Vector.png" alt="memberLogin">
            </a>
          </div>
        </div>
      </div>
         <div class="navBar">
          <div class="oneNavBar">
            <span><a href="/Shoes-Ecommerce_week4_Phone/productList.html">商品列表</a></span>
          </div>
          <div class="twoNavBar">
            <span><a href="/Shoes-Ecommerce_week4_Phone/brandStory.html">品牌故事</a></span>
          </div>
        </div>
    </div>
  </header>