
  <!-- blackShoesShow -->
  <main class="section" id="app">
    <div class="introductionContainer">
     <div class="blackShoe">
      <div class="one">
        <img src="../assets/images/imageOne.png" alt="黑白色滑板鞋左側面">
      </div>
      <div class="two">
        <img src="../assets/images/imageTwo.png" alt="黑白色滑板鞋左前側面">
      </div>
      <div class="three">
        <img src="../assets/images/imageThree.png" alt="黑白色滑板鞋右側面">
      </div>
      <div class="four">
        <img src="../assets/images/imageFour.png" alt="黑白色滑板鞋正面">
      </div>
      <div class="five">
        <img src="../assets/images/imageFive.png" alt="黑白色滑板鞋左前側面">
      </div>
      <div class="six">
        <img src="../assets/images/imageSix.png" alt="黑白色滑板鞋右後側面">
      </div>
      <div class="seven">
        <img src="../assets/images/imageSeven.png" alt="黑白色滑板鞋後面">
      </div>
      <div class="eight">
        <img src="../assets/images/imageEight.png" alt="黑白色滑板鞋頭">
      </div>
     </div>
     <div class="blackShoesDetails">
      <div class="topDetails">
        <div class="topOne">
          <p><span>首頁</span><span class="special">/</span><span>女鞋</span><span
             class="special">/</span><span>滑板鞋</span><span class="special">/</span><span
             class="specialColor">Platform 404</span>
          </p>
          <h2>Platform 404</h2>
        </div>
        <div class="middleTwo">
          <h5>NT$2,600</h5>
          <span>NT$3,200</span>
        </div>
        <div class="lastThree">
          <p>Platform 404 以柔和奶白為底，搭配深藍色皮革點綴，走在街上自帶回頭率。鞋型採用復古運動風輪廓，結合輕量厚底與柔軟泡棉鞋舌，兼顧美感與舒適。</p>
          <p>鞋身選用柔軟皮革材質，打造出清新卻不失個性的氛圍，並以鞋面透氣孔設計提升穿著體驗，兼顧質感與舒適度，適合日常長時間著用。無論是街頭穿搭、日常通勤或週末出遊都能輕鬆駕馭。</p>
        </div>
      </div>
      <div class="middleDetails">
        <div class="topFour">
          <p>顏色</p>
          <div class="colorBox">
            <div class="blueBox">
              <div class="smallPic">
                <img src="../assets/images/black.png" alt="藍色款">
              </div>
              <span>藍色</span>
            </div>
            <div class="khakiBox">
              <div class="smallPic">
                <img src="../assets/images/yallow.png" alt="卡其色款">
              </div>
              <span>卡其色</span>
            </div>
          </div>
        </div>
        <div class="middleFive">
          <p>尺寸</p>
          <ul class="sizeDisplay">
            <li class="firstColor"><span>35(22.5cm)</span></li>
            <li><span>36(23.0cm)</span></li>
            <li><span>37(23.5cm)</span></li>
            <li><span>38(24.0cm)</span></li>
            <li><span>39(24.5cm)</span></li>
            <li><span>40(25.0cm)</span></li>
            <li><span>41(26.0cm)</span></li>
            <li class="lastColor"><span>42(26.5cm)</span></li>
            <li class="lastColor"><span>43(27.0cm)</span></li>
          </ul>
          <span>僅剩 3 雙</span>
        </div>
        <div class="btnBox">
          <!-- 位置移動 -->
          <!-- <div class="whiteBox" style="display: none;"> 
            <div class="loveBox">
              <img src="../img/love.png" alt="love">
            </div>
            <span>加入收藏</span>
          </div> -->
          <div class="blackBox">
            <div class="bagBox">
              <img src="../assets/images/bag.png" alt="bag">
            </div>
            <span>門市預約試穿</span>
          </div>
          <div class="whiteBox">
            <div class="loveBox">
              <a href="../pages/productCollect.html">
                <img src="../assets/images/love.png" alt="love">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="lastDetails">
        <div class="topText">
          <p>商品材質</p>
          <div class="textBox">
            鞋面：合成皮革（Synthetic Leather）<br>
            內裡：透氣網布材質，提升舒適與排汗性 <br>
            鞋底：EVA 輕量發泡橡膠，具備良好緩震與止滑效果<br>
            鞋帶：聚酯纖維，耐拉扯不易鬆脫<br>
          </div>
        </div>
        <div class="middleText">
          <p>購買須知</p>
          <div class="textBox">
            商品顏色因螢幕顯示可能略有差異，請以實品為準。<br>
            建議首次穿著前試穿確認尺寸，避免影響退換貨權益。<br>
            本商品為限量發售，庫存有限，如需更換尺寸請儘早聯繫客服協助處<br>
            理。
          </div>
        </div>
        <div class="lastText">
          <p>保養方式</p>
          <div class="textBox">
            建議以乾布或微濕軟布擦拭表面汙漬，避免機洗或長時間浸水。<br>
            收納時請放置於乾燥通風處，避免日曬及高溫導致變形或龜裂。<br>
            若需深層清潔，建議使用中性清潔劑並搭配柔刷輕刷，勿使用漂白水或<br>
            強酸強鹼清潔劑。
          </div>
        </div>
      </div>
     </div>
    </div>
    <div class="shoesList">
      <div class="maybeLike">
        <div class="maybeLikeText">
          <h4>你可能也喜歡...</h4>
          <div class="arrowheadBox">
            <div class="leftArrowBox">
              <div class="setArrowSmallBox">
                <img src="../assets/images/leftArrow.png" alt="">
              </div>
            </div>
            <div class="rightArrowBox">
              <div class="setArrowSmallBox">
                <img src="../assets/images/rightArrow.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <!-- 手動輪播 -->
        <div class="maybeLikePic swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide maybeLikeCard">
              <div class="maybeLikeCardBox">
                <a href="" target="">
                  <img src="../assets/images/5.png" alt="grayShoes">
                </a>
              </div>
              <div class="describeBox">
                <p>VM001</p>
                <p class="lastP">NT$2,600</p>
              </div>
            </div>
            <div class="swiper-slide maybeLikeCard">
              <div class="maybeLikeCardBox">
                <img src="../assets/images/3.png" alt="grayShoes">
              </div>
              <div class="describeBox">
                <p>Melty Kiss</p>
                <p class="lastP">NT$4,000</p>
              </div>          
            </div>
            <div class="swiper-slide maybeLikeCard">
                <div class="maybeLikeCardBox">
                <img src="../assets/images/4.png" alt="grayShoes">
              </div>
              <div class="describeBox">
                <p>BOOMBLOK</p>
                <p class="lastP">NT$3,200</p>
              </div>
            </div>
            <div class="swiper-slide maybeLikeCard">
              <div class="maybeLikeCardBox">
                <img src="../assets/images/8.png" alt="grayShoes">
              </div>
              <div class="describeBox">
                <p>Sugar Snap</p>
                <p class="lastP">NT$3,200</p>
              </div>
            </div>
            <div class="swiper-slide maybeLikeCard">
              <div class="maybeLikeCardBox">
                <img src="../assets/images/2.png" alt="grayShoes">
              </div>
              <div class="describeBox">
                <p>PLATFORM 404</p>
                <p class="lastP">NT$2,600</p>
              </div>
            </div>
            <div class="swiper-slide maybeLikeCard">
              <div class="maybeLikeCardBox">
                <img src="../assets/images/6.png" alt="grayShoes">
              </div>
              <div class="describeBox">
                <p>BOOMBLOK</p>
                <p class="lastP">NT$3,200</p>
              </div>
            </div>
            <div class="swiper-slide maybeLikeCard">
              <div class="maybeLikeCardBox">
                <img src="../assets/images/7.png" alt="grayShoes">
              </div>
              <div class="describeBox">
                <p>R:UNER</p>
                <p class="lastP">NT$4,000</p>
              </div>
            </div>
            <div class="swiper-slide maybeLikeCard">
              <div class="maybeLikeCardBox">
                <img src="../assets/images/image 7.png" alt="grayShoes">
              </div>
              <div class="describeBox">
                <p>Neofoam</p>
                <p class="lastP">NT$4,000</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="register">
      <div class="registerBox">
        <span>加入會員取得 9 折優惠</span>
        <span class="registerBtn"><a href="../pages/LoginAndSignUp.html">馬上註冊</a></span>
      </div>
    </div>
  </main>
 