
  <header class="header">
    <div class="productListNavItem">
      <div class="navBox">
        <div class="logo">
           <span><a href="../pages/index.html">URBNSTEP</a></span>
        </div>
        <div class="navIcon">
          <div class="iconBox">
            <a href="../pages/LoginAndSignUp.html">
              <img src="../assets/images/Vector.png" alt="memberLogin">
            </a>
          </div>
        </div>
      </div>
         <div class="productListNavBar">
          <div class="oneNavBar">
            <span><a href="javascript:;產品列表頁">商品列表</a></span>
          </div>
          <div class="twoNavBar">
            <span><a href="javascript:;">品牌故事</a></span>
          </div>
        </div>
    </div>
  </header>

