
    <div class="partIi">
      <div class="partIiBox">
        <span>加入會員取得 9 折優惠</span>
        <span class="btn"><a href="/Shoes-Ecommerce_week4_Phone/LoginAndSignUp.html">馬上註冊</a></span>
      </div>
    </div> 
