
@media screen and (max-width:768px) {
  $font: 'Noto Sans TC', sans-serif;
  $ls: 0.05em;

  *{
    box-sizing: border-box;
  }

  
  .introductionContainer{
    display: flex;
    flex-direction: column;
    // gap: 48px; //爭議
    gap: 24px; //爭議
    
    .blackShoe{
      width: 100%;
      overflow: hidden;
      .one{
        display: flex;
        justify-content: center;
        background: #f0f3f7;
        img{
          display: block;
          width: 375px;
          height: 375px;
        }
      }
      .two{
        @extend .one;
        display:none;
        padding: 0px 56px;
        align-items: center;
        img{
          width: 257px;
          height: 257px;
        }
      }
      .three{
        @extend .one;
        display: none;
        background: #f1f3f7;
      }
      .four{
        @extend .two;
        display: none;
        padding: 0px 16px;
        img{
          width: 337px;
          height: 337px;
        }
      }
      .five{
        @extend .one;
        display: none;
      }
      .six{
        @extend .one;
        display: none;
        background: #f8f9fa;
      }
      .seven{
        @extend .three;
      }
      .eight{
        @extend .four;
        padding: 0px 0px 48px 48px;
        align-items: none;
        img{
          width: 321px;
          height: 321px;
        }
      }
    }
    .blackShoesDetails{
      display: flex;
      flex-direction: column;
      padding: 0px 12px;
      gap: 32px;
      .topDetails{
        display: grid;
        gap: 12px;
        .topOne{
          display: grid;
          gap: 8px;
          p{
            display: flex;
            gap: 8px;
            span{
              font-family: $font;
              font-weight: 500;
              line-height: 150%;
              font-size: 14px;
              letter-spacing: $ls;
              color: #6c757d;
            }
            .special{
              font-weight: 700;
              letter-spacing: 0em;
              line-height: 150%;
              color: #dee2e6;
            }
            .specialColor{
              color: #212529;
            }
          }
         h2{
          font-family: $font;
          font-weight: 700;
          font-size: 24px;
          line-height: 120%;
          letter-spacing: $ls;
         }
        }
        .middleTwo{
          display: flex;
          max-width: 164px;
          gap: 8px;
          align-items: center;
          h5{
            font-family: $font;
            font-weight: 700;
            line-height: 120%;
            letter-spacing: $ls;
            color: #57A203;
          }
          span{
            font-family: $font;
            font-size: 14px;
            line-height: 150%;
            letter-spacing: $ls;
            color: #adb5bd;
            text-decoration: line-through;
          }
        }
        .lastThree{
          display: grid;
          gap: 12px;
          p{
            font-family: $font;
            line-height: 150%;
            letter-spacing: $ls;
          }
        }
      }
      .middleDetails{
        display: grid;
        gap: 24px;
        .topFour{
          display: grid;
          gap: 8px;
          p{
            font-family: $font;
            line-height: 150%;
            letter-spacing: $ls;
          }
          .colorBox{
            display: flex;
            gap: 8px;
            .blueBox, .khakiBox{
              display: grid;
              width: 64px;
              gap: 4px;
              align-content: center;
              justify-items: center;
              .smallPic{
                display: flex;
                gap: 10px;
                background: #f1f3f7;
                img{
                  height: 64px;
                  display: block;
                }
              }
              span{
                  font-family: $font;
                  font-weight: 500;
                  line-height: 150%;
                  letter-spacing: $ls;
                  color: #6c757d;
                }
            }
          }
        }
        .middleFive{
          display: grid;
          max-width: 100%;
          gap: 8px;
          p{
            font-family: $font;
            line-height: 150%;
            letter-spacing: $ls;
            color: #212529;
          }
          .sizeDisplay{
            display: flex;
            gap: 8px;
            flex-wrap: wrap;
            .firstColor{
              border: 1px solid #212529;
            }
            li{
              display: flex;
              width: 160px;
              border-radius: 4px;
              border: 1px solid #dee2ed;
              padding: 12px 24px;
              gap: 10px;
              justify-content: center;
              align-items: center;
            }
            span{
              font-family: $font;
              font-weight: 500;
              line-height: 150%;
              letter-spacing: $ls;
              color: #212529;
            }
            .lastColor{
              opacity: 0.4;
            }
          }
          span{
            font-family: $font;
            font-size: 14px;
            line-height: 150%;
            letter-spacing: $ls;
            color: #d74f4f;
          }
        }
        .btnBox{
          display: flex;
          gap: 8px;
          .whiteBox{
            display: none;
            width: 259px;
            border-radius: 4px;
            border: 1px solid #212529;
            padding: 12px 24px;
            gap: 8px;
            align-items: center;
            justify-content:center ;
            .loveBox{
              width: 20px;
              height: 20px;
              img{
                display: block;
                width: 20px;
                height: 18.75px;
                color: #212529;
              }
            }
            span{
              font-family: $font;
              font-weight: 500;
              line-height: 150%;
              letter-spacing: $ls;
              color: #212529;
            }
          }
          .blackBox{
            display: flex;
            width: 100%;
            border-radius: 4px;
            padding: 12px 24px;
            gap: 8px;
            align-items: center;
            justify-content:center ;
            border: 0px;
            background: #212529;
            .bagBox{
              width: 20px;
              height: 20px;
              img{
                position: relative;
                display: block;
                width: 17.94px;
                left: 1.03px;
                color: #ffffff;
              }
            }
            span{
              font-family: $font;
              font-weight: 500;
              line-height: 150%;
              letter-spacing: $ls;
              color: #ffffff;
            }
          }
          .whiteBox{
            display: flex;
            max-width: 48px;
            max-height: 48px;
            border-radius: 4px;
            padding: 12px;
            gap: 8px;
            align-items: center;
            justify-content:center ;
            .loveBox{
              width: 24px;
              height: 24px;
              img{
                display: block;
                width: 24px;
                height: 22.5px;
                color: #212529;
              }
            }
          }
        }
      }
      .lastDetails{
        display: grid;
        gap: 8px;
        width: 100%;
        .topText{
          display: grid;
          border-bottom: 1px solid #dee2e6;
          padding: 12px 0px;
          gap: 4px;
          p{
            display: flex;
            justify-content: space-between;
            font-family: $font;
            font-weight: 500;
            line-height: 150%;
            letter-spacing: $ls;
            color: #212559;
          }
          .textBox{
            font-family: $font;
            line-height: 150%;
            letter-spacing: $ls;
            color: #6c757d;
          }
        }
        .middleText{
          @extend .topText;
        }
        .lastText{
          @extend .topText;
        }
      }
    }
  }
  .shoesList{
    width: 100%;
    display: grid;
    padding: 40px 12px;
    gap: 10px;
    overflow: hidden;
    .maybeLike{
      display: grid;
      gap: 16px;
      .maybeLikeText{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        h4{
          font-family: $font;
          font-weight: 700;
          font-size: 20px;
          line-height: 120%;
          letter-spacing: $ls;
          color: #212529;
        }
        .arrowheadBox{
          display: flex;
          max-width: 100%;
          gap: 12px;
          .leftArrowBox{
            display: flex;
            max-width: 40px;
            border-radius: 4px;
            padding: 8px;
            gap: 8px;
            .setArrowSmallBox{
              width: 20px;
              height: 20px;
              img{
                position: relative;
                display: block;
                width: 10px;
                height: 8.75px;
                top: 5.62px;
                left: 5px;
                color: #212529;
                
              }
            }
          }
          .rightArrowBox{
            @extend .leftArrowBox;
          }
        }
      }
      .maybeLikePic{
        display: flex;
        max-width: 1296px;
        .swiper-wrapper{
          gap: 16px;
          .maybeLikeCard{
            display: grid;
            gap: 12px;
            width: 100%;
            .maybeLikeCardBox{
              display: flex;
              gap: 10px;
              background: #f1f3f7;
                img{
                  display: block;
                  width: 300px;
                  height: 300px;
                }
              }
            .describeBox{
              display: grid;
              gap: 4px;
                p{
                  font-family: $font;
                  font-weight: 700;
                  line-height: 120%;
                  letter-spacing: $ls;
                  color: #212529;
                }
                .lastP{
                  font-weight: 500;
                  line-height: 150%;
              }
            }
          }
        }
      }
    }
  }
  .register{
    width: 100%;
    display: grid;
    padding-top: 24px;
    gap: 10px;
    .registerBox{
      display: flex;
      padding: 24px 12px;
      gap: 16px;
      background: #e8fec5;
      justify-content: center;
      align-items: center;
      span{
        height: 29px;
        font-family: $font;
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: $ls;
        color: #212529;
      }
      .registerBtn{
        display: flex;
        min-height: 40px;
        border-radius: 4px;
        padding: 8px 16px;
        gap: 8px;
        background: #212529;
        align-items: center;
        a{
          font-family: $font;
          font-weight: 500;
          font-size: 16px;
          line-height: 150%;
          letter-spacing: $ls;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }

}



